<h3 style="font-weight: 600;margin-left: 35px;">{{productName}}</h3>
<div style="width:100%; height: 100%;   padding: 5px;">

<div  class="divChart">
<div class="col-lg-3 displayinlineblock">
  <mat-form-field>
  <mat-label>Select Country</mat-label>
  <mat-select  [(ngModel)]="selectedCountry"  (selectionChange)="onCountryChange($event.value)">
      <mat-option *ngFor="let data of countries" [value]="data" > {{data}}</mat-option>
  </mat-select>
  </mat-form-field>
</div>

<div class="col-lg-3 displayinlineblock">
  <mat-form-field>
  <mat-label>Select State</mat-label>
  <mat-select  [(ngModel)]="selectedState"  (selectionChange)="onStateChange($event.value)">
      <mat-option *ngFor="let data of states" [value]="data" > {{data}}</mat-option>
  </mat-select>
  </mat-form-field>
</div>

<div class="col-lg-3 displayinlineblock">
  <mat-form-field>
  <mat-label>Select City</mat-label>
  <mat-select  [(ngModel)]="selectedCity"  (selectionChange)="onCityChange($event.value)">
      <mat-option *ngFor="let data of cities" [value]="data" > {{data}}</mat-option>
  </mat-select>
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="getProductGridData()">Submit</button>
<div class="noDataFound" *ngIf="dataSource.data.length<=0">
<span>No Data Found</span>
</div>
<div style="text-align: end;padding: 2px;" *ngIf="dataSource.data.length>0"> Page No: {{pageNo+1}} - {{pagesTotal}} of {{recordLength}} <button mat-raised-button (click)="previousClick()"><<</button><button mat-raised-button (click)="nextClick()">>></button>
</div> 
<div class="example-container mat-elevation-z8"  [style.height.px]="tableHeight"  *ngIf="dataSource.data.length>0">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Sr No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{recordNumber+i+1}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="sDataPointValue">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.sDataPointValue }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nCount">
      <th mat-header-cell *matHeaderCellDef> Usage Count      </th>
      <td mat-cell *matCellDef="let element"> {{element.nCount}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="sParam">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.sParam}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
</div>
<div class="divChart postionChart">
<div *ngIf="productData.length>0">
  <span *ngIf="chartType=='BarChart'" class="y-axis-label">Usage Count</span>
  <div class="graph-position">
  <nvd3 [options]="options" [data]="productData"></nvd3>
</div>
  <span *ngIf="chartType=='BarChart'" class="x-axis-label">Top 10 {{productName}}</span>
</div>
</div>
</div>