.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .divChart{
    display: inline-block;
      width:49%;
      padding: 15px 0px 0px 10px;
      margin: 15px;
    }
  
    .displayinlineblock{
        display: inline-block;
    }

    .postionChart{
        position: absolute;
        // top: 25%;
    }

    .noDataFound {
        position: absolute;
    top: 49%;
    left: 20%;
    }

    .y-axis-label {
      transform: rotate(-180deg);
    writing-mode: tb;
    top: 200px;
    position: relative;
    }
    .x-axis-label{
      left: 230px;
      position: relative;
    }
    .graph-position{
      position: relative;
      left:25px;
    }