.example-container {
    //height: 400px;
    height: auto;
    overflow: auto;
    //width: 625px;
    
  }
  
  table {
    width: 100%;
  }
  .divChart{
  display: inline-block;
    width:49%;
    padding: 0px 0px 0px 0px;
  }

  .displayinlineblock{
      display: inline-block;
  }
  .postionChart{
    position: absolute;
    top: 25%;
    z-index:-1;
}
.noDataFound {
    position: absolute;
    padding: 50px;
//top: 49%;
//left: 20%;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-sState  {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
 // width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-sCity  {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
 // width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-sMobile  {
 // width: 30% !important;
}
// .mat-column-sMobile  {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 22% !important;
//   width: 22% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

.mat-column-sName  {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 22% !important;
 // width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .mat-column-position  {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 10% !important;
//   width: 10% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

// .mat-column-sCountry  {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 20% !important;
//   width: 20% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

table.mat-table {
  display: table;
}